<section id="cloudsolutions" class="py-5">
  <div class="container">
    <h2 class="text-center fw-bold text-uppercase">Cloud Solution</h2>
      <ul class="timeline"  >
        <li class="d-flex ">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 800px;">
          <h4 class="fw-bold mb-3 fs-2 lh-lg">Maximise Efficiency with Tailored Cloud Solutions</h4>
          <p class="text-muted mb-0">
            At EcoSphere AI Solution & Consultancy Ltd (EcoSphere AI), our <strong>Cloud Solutions</strong>,
            are designed to help your business streamline operations, enhance data accessibility, and reduce IT costs. We specialise in cloud migration, infrastructure management, and ongoing optimisation, ensuring a seamless transition to public, private, or hybrid cloud environments. Our expertise allows you to innovate faster, improve operational efficiency, and scale as your business grows. By leveraging our cloud solutions, your company can focus on what matters most while we manage the complexities of your IT environment.
          </p>
        </div>
         </li>
         <li>
          <div class="row align-items-center ">
          <div class="col-md-6  ">
          <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
              <h4 class="fw-bold mb-3 ">Why Your Business Needs Cloud Solutions:</h4>
              <ul>
                <li>
                  <strong>Cost Efficiency –</strong> Reduce IT overheads with scalable cloud resources.
                </li>
                <li>
                  <strong>Improved Accessibility –</strong> Access your data from anywhere, at any time.
                </li>
                <li>
                  <strong>Enhanced Flexibility –</strong> Scale your resources as your business needs change.
                </li>
                 <li>
                  <strong>Business Growth –</strong>  Innovate faster with streamlined operations and optimised infrastructure.
                </li>

              </ul>
          </div>
          </div>
            <div class="col-md-6 mx-auto ">
            <div class="image-box bg-light shadow w-100 mx-auto" style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 0px;">
            <img src="/services/15.png" alt="IT Consultancy Image" class="img-fluid w-100" style="object-fit: cover;">
           </div>
          </div>
          </div>
     </li>
     <li>

     </li>
      </ul>
  </div>
</section>
