<section id="cloudsolutions" class="py-5">
  <div class="container">
    <h2 class="text-center fw-bold text-uppercase text-black animate__animated animate__fadeInDown" style="background-color: #ced4d4; color: white;">Digital Marketing</h2>
      <ul class="timeline py-3" >
        <li class="d-flex ">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 800px;">
          <h4 class="fw-bold mb-3 fs-2 lh-lg">Boost Your Online Presence and Drive Business Growth</h4>
          <p class="text-muted mb-0">
            (EcoSphere AI) offers comprehensive <strong>Digital Marketing </strong>
            services that are designed to increase your online visibility, drive traffic, and generate leads. Our solutions include SEO, social media marketing, content creation, and paid advertising, all tailored to your business goals. With our expertise in digital marketing, we help businesses connect with their target audience, increase engagement, and boost conversion rates. Let us help you harness the power of digital marketing to expand your reach and grow your business.        </div>
         </li>
         <li>
          <div class="row align-items-center ">
          <div class="col-md-6  ">
          <div class="section-box bg-light p-4 rounded shadow w-100 mt-n3" style="max-width: 900px;">
              <h4 class="fw-bold mb-3 ">Why Your Business Needs Digital Marketing:</h4>
              <ul>
                <li>
                  <strong>Enhanced Visibility –</strong> Increase your brand’s visibility across digital channels.
                <li>
                  <strong>Lead Generation –</strong> Attract more qualified leads to grow your business.
                </li>
                <li>
                  <strong>Improved Engagement –</strong> Boost customer interaction and build brand loyalty.
                </li>
                 <li>
                  <strong>Measurable ROI –</strong> Track performance and optimise campaigns for better results.
                </li>

              </ul>
          </div>
          </div>
            <div class="col-md-6 mx-auto ">
            <div class="image-box bg-light shadow w-100 mx-auto" style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 0px;">
            <img src="/services/19.png" alt="IT Consultancy Image" class="img-fluid w-100" style="object-fit: cover;">
           </div>
          </div>
          </div>
     </li>
     <li>

     </li>
      </ul>
  </div>
</section>
