<footer class="footer bg-black small text-center   text-white-50">
  <div class="bg-dark text-light py-5">
    <div class="container">
      <h5 class="text-center mb-4">Subscribe to our newsletter</h5>

      <div class="d-flex flex-column flex-sm-row gap-2 w-50 w-sm-75 mx-auto mb-4">
        <label for="newsletter1" class="visually-hidden">Email address</label>
        <input id="newsletter1" type="email" class="form-control" placeholder="Email address">
        <button class="btn btn-primary" type="button">Subscribe</button>
      </div>

      <hr class="bg-light">

      <div class="row text-center">
        <div class="col-12 col-md-3 mb-4">
          <h6><strong>Registration</strong></h6>
          <p class="mb-0">- Company Number 14977281</p>
          <p class="mb-0">- D-U-N-S Number 230782094</p>
        </div>
        <div class="col-12 col-md-3 mb-4">
          <h6>Address</h6>
          <p class="mb-0">Market Street, Bracknell</p>
          <p class="mb-0"> RG12 1FL, UK </p>
        </div>
        <div class="col-12 col-md-3 mb-4">
          <h6>Contact</h6>
          <p class="mb-0">(+44) 7712 659 373</p>
          <p class="mb-0">salesaitscs.uk</p>
        </div>
        <div class="col-12 col-md-3 mb-4">
          <h6>Contact</h6>
          <p class="mb-0">(+44) 7712 659 373</p>
          <p class="mb-0">salesaitscs.uk</p>
        </div>
      </div>
      <hr class="bg-light">
      <div class="row text-center">
        <div class="col-12 col-md-3 mb-4">
          <h6><strong>About Us</strong></h6>
          <p class="mb-0">- EcoSphere AI Solution & Consultancy Ltd specialises in three key areas: web designing, carbon reduction planning, and IT consultancy services.</p>
        </div>
        <div class="col-12 col-md-3 mb-4">
          <h6>Pages</h6>
          <p class="mb-0">- About Us</p>
          <p class="mb-0">- Services</p>
          <p class="mb-0">- Case Studies</p>
          <p class="mb-0">- Policies</p>
          <p class="mb-0">- Contact Us</p>

        </div>
        <div class="col-12 col-md-3 mb-4">
          <h6>Contact</h6>
          <p class="mb-0">(+44) 7712 659 373</p>
          <p class="mb-0">salesaitscs.uk</p>
        </div>
        <div class="col-12 col-md-3 mb-4">
          <h6>Contact</h6>
          <p class="mb-0">(+44) 7712 659 373</p>
          <p class="mb-0">salesaitscs.uk</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container  align-items-center px-4 px-lg-5">Copyright &copy; Your Website 2023</div>
</footer>



