<section id="cloudsolutions" class="py-5">
  <div class="container">
    <h2 class="text-center fw-bold text-uppercase text-black animate__animated animate__fadeInDown" style="background-color: #ced4d4; color: white;">Carbon Reduction Plan</h2>
      <ul class="timeline py-3" >
        <li class="d-flex ">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 800px;">
          <h4 class="fw-bold mb-3 fs-2 lh-lg">Empower Your Business with Sustainable Practices</h4>
          <p class="text-muted mb-0">
            At (EcoSphere AI), we help businesses develop a  <strong>Carbon Reduction Plan </strong>,
            that not only meets regulatory requirements but also aligns with your sustainability goals. Our services focus on optimising energy efficiency, reducing carbon emissions, and ensuring compliance with environmental standards. By adopting a carbon reduction strategy, your business can gain a competitive edge in eco-conscious markets, improve operational efficiency, and contribute to a greener future.        </div>
         </li>
         <li>
          <div class="row align-items-center ">
          <div class="col-md-6  ">
          <div class="section-box bg-light p-4 rounded shadow w-100 mt-n3" style="max-width: 900px;">
              <h4 class="fw-bold mb-3 ">Why Your Business Needs a Carbon Reduction Plan:</h4>
              <ul>
                <li>
                  <strong>Regulatory Compliance –</strong> Meet environmental regulations and avoid penalties.
                <li>
                  <strong>Sustainability Leadership –</strong> Position your business as a leader in sustainability.
                </li>
                <li>
                  <strong>Cost Savings –</strong> Improve energy efficiency and reduce operating costs.
                </li>
                 <li>
                  <strong>Market Competitiveness –</strong> Appeal to eco-conscious consumers and markets.
                </li>

              </ul>
          </div>
          </div>
            <div class="col-md-6 mx-auto ">
            <div class="image-box bg-light shadow w-100 mx-auto" style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 0px;">
            <img src="/services/18.png" alt="IT Consultancy Image" class="img-fluid w-100" style="object-fit: cover;">
           </div>
          </div>
          </div>
     </li>
     <li>

     </li>
      </ul>
  </div>
</section>
